[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "bundle/vim-autoclose"]
	path = bundle/vim-autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-haml"]
	path = bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "bundle/vim-jquery-doc"]
	path = bundle/vim-jquery-doc
	url = git://github.com/lucapette/vim-jquery-doc.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-railscasts-theme"]
	path = bundle/vim-railscasts-theme
	url = git://github.com/jpo/vim-railscasts-theme.git
[submodule "bundle/vim-ruby-debugger"]
	path = bundle/vim-ruby-debugger
	url = git://github.com/astashov/vim-ruby-debugger.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "snippets"]
	path = snippets
	url = git://github.com/honza/vim-snippets.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/neosnippet"]
	path = bundle/neosnippet
	url = git://github.com/Shougo/neosnippet.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = git://github.com/tpope/vim-rake.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "bundle/git_shade"]
	path = bundle/git_shade
	url = git://github.com/joeytwiddle/git_shade.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/ruby-matchit"]
	path = bundle/ruby-matchit
	url = https://github.com/vim-scripts/ruby-matchit.git
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "bundle/vim-textobj-rubyblock"]
	path = bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/interactive-replace"]
	path = bundle/interactive-replace
	url = https://github.com/hwrod/interactive-replace.git
[submodule "bundle/vim-toggle"]
	path = bundle/vim-toggle
	url = https://github.com/taku-o/vim-toggle.git
